<div class="basic-container">
  <ng-container [formGroup]="form">
    <mat-form-field>
      <input matInput placeholder="Suche" formControlName="search" />
    </mat-form-field>
  </ng-container>
  <mat-accordion>
    <mat-expansion-panel *ngFor="let item of $items | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{item.label}}
        </mat-panel-title>
      </mat-expansion-panel-header>

      <mat-form-field style="width: 100%" class="example-chip-list">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of item.tags" [removable]="true" (removed)="remove(tag, item)">
            {{tag}}
            <mat-icon matChipRemove>cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="true"
                 (matChipInputTokenEnd)="add($event, item)">
        </mat-chip-list>
      </mat-form-field>
      <button mat-button (click)="save(item)">Save</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>



